/* CSS for Jerry Lung's website <www.jerrylung.com> */

/**************************** IMPORT ********************************/

@font-face {
    font-family: "Hectic-Regular";
    src: url('../resources/hectic.regular.ttf') format('truetype');
}

/* Entypo pictograms by Daniel Bruce — www.entypo.com */
@font-face {
	font-family: "Entypo-Social";
	src: url('../resources/entypo/@font-face/EntypoSocial@font-face/entypo-social.ttf');
}

@font-face {
	font-family: "Entypo";
	src: url('../resources/entypo/@font-face/Entypo@font-face/entypo.ttf');
}


/**************************** BASE ********************************/

html, 
body{
  height:100%;
  /*background-color: #333; /*charcoal*/
  /*background-color: #00E5EE; /*turquoise*/
  /*background-color: #EE2C2C;  /*firebrick*/
  /*background-color: #458B00; /*chartreuse*/
  font-family: Helvetica;
  /*background-color: #F6F6F6;*/
}

body {
  /*color: #fff;*/
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}


.cover {
	height: 100%;
	width: 100%;
	/*position: absolute;*/
}

.content {
	height: 100%;
	width: 100%;
  	display: table;
}

.divider {
	border-top-color: rgb(160, 175, 187);
	border-top-style: solid;
	border-top-width: 1px;
	color: rgb(61, 70, 77);
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}


/********************************************************************************
 ************** MAIN *******************
 ********************************************************************************/

/* TODO: Add min-height; */
.main {
  height:100%;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.5s ease-in-out;
}

.container {
  display: table-cell;
  vertical-align: middle;
}

.cover-heading {
	font-family: Hectic-Regular;
	font-size: 45px;
	margin: 3%;
}

.tagline {
	font-family: Hectic-Regular;
	font-size: 21px;
}

.circles img {
  width:200px;
  height:200px;
  border-radius:200px;
  -webkit-border-radius:200px;
  -moz-border-radius:200px;
  background:url(resources/kubrick.jpg) no-repeat;
}

.btn-get-resume {
	margin-bottom: 0;
}

.mastfoot {
	text-decoration: none;
}

.links {
	padding:0;
	margin:0;
	white-space: nowrap;
	list-style-type: none;
	font-family: Entypo-Social;
}

.links li {
	display:inline;
	opacity: 0.2;
}

.links li:hover {
	opacity: 1;
}

.links li img {
	width: 75px;
}

.links li a {
	font-size: 75px;
	text-decoration: none;
	height: 12px;
}


/********************************************************************************
 ************** PROJECTS *******************
 ********************************************************************************/

.projects {
	/*background-color: #458B00;*/
  transition: all 0.5s ease-in-out;
}

.container-projects {
	font-family: Hectic-Regular;
	font-size: 50px;
}

.project {
	width: 80%;
	padding: 50px;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.project-image, .project-text {
	display: table-cell;
	width: 50%;
}

.project-text {
	vertical-align: middle;
	font-size: 20px;
}

.project-text h1 {
	font-size: 40px;
}

.project-image img {
	width: 80%;
	border: 3px solid black;
  	/*border-radius: 4px;*/
}

.github {
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
}


/********************************************************************************
 ************** CONTACT *******************
 ********************************************************************************/

.form-contact {
	background-color: #333;
	width: 40%;
	height: 60%;
	margin-right: auto;
	margin-left: auto;
}



/******************************************
 ************** STYLES *******************
 ******************************************/

/* Does I need? */
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.invisible {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}


/******************************************
 ********* BUTTONS, LINKS *****************
 ******************************************/

 a {
 	text-decoration: none;
 }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/**********************************************/